<div class="card">
    <div class="card-header">
        <h3>{{tituloPagina + ': ' + auto.marca + ' ' + auto.modelo}}</h3>
    </div>
    
    <div class = 'container-fluid'>
        <div class="row">

            <div class="col-6 container">
                <div class="row" style="margin-top: 7em">
                    <div class="col">
                        <label>Marca:</label>
                    </div>
                    <div class="col">
                        {{auto.marca}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Modelo:</label>
                    </div>
                    <div class="col">
                        {{auto.modelo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Año:</label>
                    </div>
                    <div class="col">
                        {{auto.anio}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Color:</label>
                    </div>
                    <div class="col">
                        {{auto.color}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Kilómetros:</label>
                    </div>
                    <div class="col">
                        {{auto.kilometros | number}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Precio:</label>
                    </div>
                    <div class="col">
                        {{auto.precio | currency}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Calificación:</label>
                    </div>
                    <div class="col">                        
                        <estrellas
                                    [calificacion]="auto.calificacion!">
                        </estrellas>
                    </div>
                </div>
                <button class='btn btn-outline-primary my-3' style="width:10em;float: right;" (click)="onComprar()">Comprar
                </button>
            </div>

            <div class="col-6 container">                
                <div class="position-relative top-50 start-50 translate-middle">
                    <img [src]="auto.imageUrl" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button class='btn btn-outline-secondary' style="width:110px" (click)="onBack()">
            Regreso
        </button>
    </div>
</div>
