<div class="card">
    <div class="card-header">
        <h3> {{tituloPagina}} </h3>
    </div>

    <div class = 'container-fluid'>
        <div class="row">
            <div class = 'container-fluid py-2'>
                <div class="row">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" [(ngModel)]="cliente.nombre" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" [(ngModel)]="cliente.password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 ms-3 form-check">
                                <input type="checkbox" [(ngModel)]="quiereContacto" class="form-check-input" id="proporcionaDatos">
                                <label class="form-check-label" for="proporcionaDatos">¿Desea contacto?</label>
                        </div>
                        <div class="mb-3" *ngIf="quiereContacto">
                                <label for="correo" class="form-label">Dirección de correo</label>
                                <input type="email" [(ngModel)]="cliente.email" class="form-control" id="correo" aria-describedby="correoHelp" placeholder="venta.autos@ejemplo.com">
                        <div id="correoHelp" class="form-text">Nunca compartiremos tu correo con nadie.</div>
                        </div>
                        <div class="mb-3" *ngIf="quiereContacto">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="number"  [(ngModel)]="cliente.telefono" class="form-control" id="telefono" aria-describedby="telefonoHelp">
                        <div id="telefonoHelp" class="form-text">Tu teléfono está seguro con nosotros</div>
                        </div>
                        <div class="d-md-block">
                                <button class="btn btn-primary mb-2" type="button" (click)="registra()">Registra Cliente</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="card-footer">
        <button class='btn btn-outline-secondary' style="width:110px" (click)="goInicio()">
    Inicio
        </button>
    </div>
</div>
    
