*{ 
    margin: 0;
    padding: 0;
}
:root {
    --negroVenn: #002b39;
}
html{
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow-x: hidden;
}
p{
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--negroVenn);
    margin-bottom: 0;
    margin-top: 10px;
}

/*---------------SELECCIÓN PRINCIPAL---------------*/

#seccionPrincipal{
    padding: 40px 0px 50px;
    background-image: url("/img/Grupo 9213@2x.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    width: 100vw;
    min-height: 70vh;
}
#seccionPrincipal>span{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #1489ff;
    font-weight: 600;
}
/*Logo centrado */
#logoVenn{
    display: block;
    margin: 15px auto;
    width: 100px;
    height: 100px;
}
h1,h2{
    text-align: center;
    color: var(--negroVenn);
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style:normal ;
    letter-spacing: normal;
}
h5{
    font-family: 'Hind', sans-serif;
    font-size: 27px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: var(--negroVenn);
}
h3{
    font-family: 'Hind', sans-serif;
    font-size: 27px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: var(--negroVenn);
}
button{
    display: block;
    margin: auto;
    margin-bottom: 60px;
    padding: 15px 45px 11px 46px;
    object-fit: contain;
    box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%);
    background-image: linear-gradient(to top, #007fff, #00b1ff);
    color: #FFFFFF;
    border-width: 0 ;
    border-radius: 5px;
    font-size: 18px;
    background-color: #FFFFFF;
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
}

/*Tarjetas de presentación*/
#carrusel{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#carrusel>img{
    align-self: center;
}
#carrusel>img:first-child{
    justify-self: end;
}
#tarjeta{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 8fr;
    padding: 40px 29px;
    width: 634px;
    height: 185px;
    border: solid 1px #c3d5e0 80%;
    box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%);
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: auto;
}
#tarjeta>img{
    position: relative;
    top: -50px;
    width: 237px;
    height: 237px;
    display: inline-block;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
}
#tarjeta>h3{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin: 0;

}
#tarjeta>h5{
    grid-row: 2 / 3;
    margin: 0px;
    color: #1489ff;
    font-size: 18px;
    justify-self: start;
}
#tarjeta>.estrellas{
    grid-row: 2 / 3;
    margin: 0px;
    color: #1489ff;
    font-size: 18px;
    justify-self: start;
}
#tarjeta>.estrellas>img{
    margin-right: 8px;
}
#tarjeta>p{
    grid-column: 2 / 4;
    text-align: start;
    margin-top: 12.2px;
}

/*---------------SELECCIÓN SECUNDARIA---------------*/

#seccionSecundaria{
    padding: 40px 0px 4%;
    width: 100vw;
    min-height: 70vh;
}
#seccionSecundaria>h2{
    max-width: 548px;
    font-size: clamp(30px, 3.2vw, 42px);
    margin: 20px auto;
}
#tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px;
    width: 80%;
    margin: 0 auto 40px;
}
.tarjetaProductos{
    justify-self: center;
    display: grid;
    grid-template-rows: 4fr, 1fr, 1fr;
    padding: 8px 26px 26px;
    padding: clamp(26px,2vw,4rem);
    padding-top: 0.5rem;
    width: 275px;
    height: 390px;
    /* border: solid 1px #c3d5e0; */
    border: solid 1px transparent;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(195,213,224,0.5);
    /* box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%); */
    background-color: #FFFFFF;
}
.tarjetaProductos>img{
    width: 268px;
    height: 261px;
    justify-self: center;
}
.tarjetaProductos>h5{
    font-size: 27px;
    margin: 0;
}
.tarjetaProductos>p{
    font-size: 18px;
    margin: 0;
    text-align: center;
}
#seccionSecundaria>button{
    margin-bottom: 27px;
}

/*---------------SELECCIÓN TRES---------------*/

#seccionTres{
    width: 100vw;
    min-height: 40vh;
    margin-bottom: 80px;
}
#seccionTres>h2{
    display: block;
}
#contenedorOpciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 8vh;
    margin-top: -3.7vw;
    margin-right: auto;
    margin-bottom: -4.5vw;
    margin-left: auto;
    max-width: 862px;
}
#lineaOpciones{
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: -1;
    width: 40vw;
    max-width: 640px;
    min-width: 620px;
}
.opcion{
    display: grid;
    grid-template-rows: 27px 1fr 25px;
    justify-content: center;
}
.numeros{
    justify-self: center;
}
.circulos{
    width: 200px;
    height: 200px;
}
.opcion>p{
    margin: 0;
    font-size: 22px;
}
#seccionTres>button{
    position: relative;
    top: 18vh;
}


/*---------------SELECCIÓN CUATRO---------------*/

#seccionCuatro{
    width: 100vw;
    min-height: 100vh;
    margin-top: 90px;
    padding-top: 150px;
    background-image: url("img/Enmascarar grupo 259@2x.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
}
#seccionCuatro>h2{
    font-size: clamp(30px,3.1vw,42px);
}
#seccionCuatro>button{
    margin-top: 80px;
}
.tarjetaCaracteristica{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 22px 5%;
    margin: 15px 6%;
    justify-items: center;
    align-items: center;
    border: solid 1px #c3d5e0;
    box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #fff, #fff 78%, #f0feff);
}
.tarjetaCaracteristica>span{
    display: block;
    text-align: center;
    font-family: 'Hind';
    font-size: 16px;
}
#contenedorTarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: clamp(108px, 10vw, 146px);
    width: 70vw;
    max-width: 950px;
    max-height: 644px;
    
}

/*---------------SELECCIÓN FOOTER---------------*/

footer{
    padding: 40px 140px;
    background-image: linear-gradient(90deg,#1489ff 0%,#0073e6 100%);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#logoRedesFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 1px white;
    padding-bottom: 15px;
}
#redesFooter{
    justify-self: end;
    align-self: center;
}
#redesFooter>img{
    padding-left: 25px;
}
#politicasFooter{
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    width: 100%;
    height: 100%;
    align-items: center;
}
#politicasFooter>span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: end;
}
#politicasFooter>span:nth-child(1){
    grid-column: 2/3;
}

/*-------------------------MEDIA QUERY-------------------------*/
@media (max-width: 1200px){
    /*---------------SELECCIÓN PRINCIPAL---------------*/
    #seccionPrincipal{
        padding-bottom: 10%;
    }
    #logoVenn{
        margin: 0 auto;
        width: 66px;
        height: 70px;
    }

    /*---------------SELECCIÓN SECUNDARIA---------------*/
    #tarjetas{
        grid: inherit;
    }
    .tarjetaProductos{
        padding: 0;
        width: 40%;
        min-width: 350px;
    }
    #tarjetas>.tarjetaProductos:nth-child(2){
        display: none;
    }
    #tarjetas>.tarjetaProductos:nth-child(3){
        display: none;
    }
    .tarjetaProductos>img{
        width: 300px;
        height: 280px;
    }
    .tarjetaProductos>h5{
        font-size: 22px;
        align-self: center;
    }
    .tarjetaProductos>p{
        font-size: 14px;
        max-width: 80%;
        justify-self: center;
    }
    /*---------------SELECCIÓN TRES---------------*/
    #contenedorTarjetas{
        max-height: inherit;
    }
}

@media (max-width: 950px){
    #tarjeta{
        width: 480px;
        height: 180px;
    }
    #tarjeta>h5{
        grid-column: 2 / 3;
    }
    #tarjeta>.estrellas{
        grid-column: 2 / 4;
        justify-self: end;
    }
    #tarjeta>.estrellas>img{
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }
    #tarjeta>p{
        margin-top: 0px;
    }
    /*---------------SELECCIÓN TRES---------------*/
    #lineaOpciones{
        display:none;
    }
    .opcion{
        display: none;
    }
    .opcion > p{
        align-self: start;
    }
    .numeros{
        display: none;
    }
    .circulos{
        width: 150px;
        height: 150px;
    }
    #contenedorOpciones{
        display: inherit;
    }
    #contenedorOpciones > :nth-child(2){
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 2rem 1rem 0 1rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        max-width: 202px;
        max-height: 196px;
        width: 100%;
        border: solid 1px #c3d5e0;
        box-shadow: 0 9px 12px 0 rgb(26 72 100 / 16%);
        border-radius: 10px;

    }
    #seccionTres > button{
        top: 12vh;
    }
    /*---------------SELECCIÓN CUATRO---------------*/
    
    #contenedorTarjetas{
        grid-template-columns: 1fr 1fr;
    } 
}