<div class="card">
    <div class="card-header">
        <h1>
            {{ tituloListaAutos }}
        </h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label for="">Filtrar por</label>
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filtro">
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-md-6">
                    <h3>Filtrar por: {{ filtro }}</h3>
                </div>
            </div>
        </div>
    </div>
    <table class="table" *ngIf="listaAutos.length>0">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-primary"
                            (click)="muestraImagenes()">{{ muestraImagen ? 'Ocultar Imagenes' : 'Mostrar Imagenes' }}</button>
                </th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Kilómetros</th>
                <th>Precio</th>
                <th>Calificación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auto of listaAutosFiltrados">
                <td class="align-middle">
                    <img [src]="auto.imageUrl" 
                        [style.width.px]="imageWidth"
                        alt="Imagen auto" 
                        *ngIf="muestraImagen">
                </td>
                <td class="align-middle">{{ auto.marca }}</td>
                <td class="align-middle"><a [routerLink]="['/auto', auto.id]">{{ auto.modelo }}</a></td>
                <td class="align-middle">{{ auto.anio }}</td>
                <td class="align-middle">{{ auto.color }}</td>
                <td class="align-middle">{{ auto.kilometros | number }}</td>
                <td class="align-middle">{{ auto.precio | currency }}</td>
                <td class="align-middle">
                    <estrellas 
                        [calificacion] = "auto.calificacion"
                        (starsClick)="onClickCalificacion($event)">

                    </estrellas>
                </td>
            </tr>
        </tbody>
    </table>
</div>
